<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
    <parameter name="author" value="Guru99" />
    <test verbose="2" name="Parameter With TestNG">
        <parameter name="searchKey" value="UK" />
        <parameter name="searchKey" value="India" />
        <classes>
            <class name="TestNG.DataProvider.ParametrizationTestNG.ParametersWithTestNGXML"/>
        </classes>
    </test>
</suite>
